# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log

# Code Output director
dist/

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

.idea/

# Local deployment file used to pre gennerate a release, normally done on the build server.
serverless-output.yaml

# Copy and Paste scratch pad I use for account specific stuff
account-notes.txt